.section {
  margin-top: 5rem;
  text-align: center;
  text-decoration: underline;
}

.link-bar {
  padding: 0.5rem;
  background: black;

  a {
    margin-right: 1rem;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.step {
  margin-top: 5rem;
}

.instructions {
  margin-left: 3rem;
}

.command {
  width: 70%;
  margin: 2rem auto;
  padding: 0.5rem;
  background: lightgrey;
}

.pic-box {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  &__img {
    border: 1px solid black;
  }
}
