.nav {
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-bottom: 2px solid black;

  &__tag {
    text-align: center;
  }
}

.title {
  text-align: center;
}

.link-bar {
  padding: 0.5rem;
  background: black;

  a {
    margin-right: 1rem;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}
